<!DOCTYPE html>
<html lang="en" dir="ltr"></html>

<head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <meta charset="utd-8">
    <title>Search</title>
</head>
<body>
    <h1>Search</h1>
    <form class="form-inline" action="{{url_for('search')}}" method="POST">
        <input type = 'text' autofocus="autofocus" name="fishname" placeholder="Enter fish name"><br><br>
        <input type = "submit" formaction="/search" value = "Search" />
    </form>
        
    
   
</body>




